<div>
    <br>
    <% if(accessToken.isValid == true) {%>
        <form action="/user/submit-password-change/<%= accessToken.access_token %>" method="post">
            <input type="password" name="password" placeholder="Enter new password" required>
            <input type="password" name="confirm_password" placeholder="Confirm new passowrd" required>
            <input type="submit" value="Submit">
        </form>
    <% }else{ %>
        <p>Access Token Expired!</p>
    <% } %>
</div>