<link rel="stylesheet" href="/css/changepassword.css">
<div id="changepasswordpage">
    <% if(accessToken.isValid == true) {%>
        <form action="/user/submit-password-change/<%= accessToken.access_token %>" method="post">
            <div>
                <label for="pass"> Enter password:</label>
                <input id="pass" type="password" name="password" placeholder="Enter new password..." required>
            </div>
            <div>
                <label for="confirm_pass"> Enter confirm password:</label>
                <input id="confirm_pass" type="password" name="confirm_password" placeholder="Confirm new passowrd..." required>
            </div>
            <div>
                <input type="submit" value="Submit" class="links">
            </div>
        </form>
    <% }else{ %>
        <p>Access Token Expired!</p>
    <% } %>
</div>