<link rel="stylesheet" href="/css/forgetpassword.css">
<div id="forgetpasswordpage">
    <form action="/user/reset-password" method="post">
        <div>
            <label for="email">Enter your email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <input type="submit" value="Submit" class="links">
        </div>
    </form>
</div>