<html>
    <head>
        <title> <%= title%></title>
    </head>
    <body>
        <h1>Welcome to homepage of Web Auth app!</h1>
        <a href="sign-in">Sign In</a>
        <br>
        <a href="sign-up">Sign Up</a>
    </body>
</html>