<div>
    <form action="/user/create-session" method="post">
        <label for="Email">Enter Your Email:</label>
        <input type="email" name="email" id="Email" placeholder="Enter your email..." required>
        <label for="Password">Enter Your Password:</label>
        <input type="password" name="password" id="Password" placeholder="Enter password..." required>
        <input type="submit" value="Submit">
    </form>
    <div>
        <a href="/user/forget-password">Forget Password</a>
    </div>
    <div>
        <a href="/user/auth/google">Google SignIn/SignUp</a>
    </div>
</div>