<div>
    <form action="/user/create" method="POST">
        <label for="Name">Your full name:</label>
        <input type="text" name="name" id="Name" placeholder="Enter full name..." required>
        <label for="Email">Enter Email Id:</label>
        <input type="email" name="email" id="Email" placeholder="Enter your Email..." required>
        <label for="Password">Enter Password</label>
        <input type="password" name="password" id="Password" placeholder="Enter password..." required>
        <label for="Confirm_pass">Confirm Password</label>
        <input type="password" name="confirm_pass" id="Confirm_pass" placeholder="Confirm password..." required>
        <input type="submit" value="Submit">
    </form>
</div>