#signinpage{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    display: inline-block;
    width: 160px;
}

#signinpage form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    margin: 5px;
}

input{
    width: 270px;
    height: 40px;
}

.links{
    border: none;
    padding: 10px 20px;
    width: inherit;
    height: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    background-color: antiquewhite;
}

img{
    width: 40px;
    height: 40px;
    padding: 0px 70px;
}
