<div>
    <p>Hello <strong><%= accessToken.user.name %></strong></p>
    <br>
    <br>
    <br>
    <a href="http://localhost:8000/user/change-password-link/<%= accessToken.access_token %>">Click here to change your password</a>
</div>